body {
    display: flex;
    height: 100%;
}

#types {
    width: 40%;
    height: 100%;
    flex-direction: row;
}

#output{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#input{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 90%;
    padding: 10px;
}

#type1list > div {
    flex-direction: row;
}

.typeList{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.typeContainer {
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 5px;
    margin: 5px;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}

.typeContainerSelected {
    display: flex;
    flex-direction: row;
    background-color: rgb(187, 187, 187);
    padding: 5px;
    margin: 5px;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}

.typeContainer > p {
    color: white;
    font-weight: 700;
}

.typeContainerSelected > p {
    color: white;
    font-weight: 700;
}

img {
    width: 50%;
    height: auto;
    max-width: 70px;
    max-height: 70px;
}

ul {
    list-style: none;
}

ul > li {
    margin: 5px;
    padding: 5px;
    width: 20%;
    text-align: center;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

#output > p {
    text-align: center;
    font-weight: 1000;
    color: white;
}

.typeDisplay {
    font-weight: 1000;
    color: white;
}

.typeListContainer {
    width: 90%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: rgb(73, 73, 73);
}

#output > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#output > div > p{
    margin: 5px;
    padding: 5px;
    width: 20%;
    text-align: center;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}


#neutral{
    background-color: #e6f7f7;
}
#wind{
    background-color: #08fab3;
}
#earth{
    background-color: #ba795c;
}
#water{
    background-color: #45cbff;
}
#fire{
    background-color: #e85c4e;
}
#nature{
    background-color: #adde77;
}
#electric{
    background-color: #ffe174;
}
#mental{
    background-color: #c369a3;
}
#digital{
    background-color: #a4c0c1;
}
#melee{
    background-color: #fa9260;
}
#crystal{
    background-color: #ea4a68;
}
#toxic{
    background-color: #5c565c;
}